a,h1{
    color:lightpink;
}
a{
    text-decoration: none;
    font-size: 30px;
    color: rgb(238, 238, 170);
    font-weight: bold;
}
p span{
    font-style: italic;
    font-weight: bold;
    color: rgb(169,198,161);
}

.new-course span{
    color:aquamarine
}